# =====================
# Logs
# =====================
logs/
*.log

# =====================
# Maven
# =====================
/target/
!.mvn/wrapper/maven-wrapper.jar

# =====================
# Arquivos temporários
# =====================
*.tmp
*.bak
*.swp

# =====================
# Sistema Operacional
# =====================
.DS_Store
Thumbs.db

# =====================
# IntelliJ / VSCode / Eclipse
# =====================
.idea/
.vscode/
*.iml
*.classpath
*.project
*.settings/